<div class="row">
	<div class="col-xs-12">
		<p class="title-2-dead" style="font-size: 8pt; margin-bottom: 0px;">
			<%= link_to 'username', user_path(12), class: 'main-font comment-user' %>
			46 minutes ago
		</p>
		
		<div class="row">
			<div class="col-xs-12">
				<p class="user-comment main-font text-justify">
					This is were a comment would go if someone were to right a comment the user will go  here comment will he put here is were the go ove there look at the start and see wat you are. you are something in the mes
				</p>
			</div>
		</div>

		<div class="row" style="margin: 2px 0 15px 0px">
			<div class="col-xs-2">
				<%= link_to 'Reply', '#' , class: 'main-font title-2-dead comment-options' %>
			</div>

		</div>
	</div>
</div>