<div class="row">
	<div class="col-xs-12 col-sm-8">
		<div>
			<h3 class="title-2-alive" style="font-size: 13pt">
			<%= lpu_title%></h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-8">
		<ul class="ul-lpu">
			<% lpu_array.each do |item|%>
			<li class="li-lpu">
				<%=item%>
			</li>
			<% end %>
		</ul>
	</div>
</div>