<!-- 
	Add event when user clicks on lpu delete and put it on input
 -->

<div class="container">
	<div class="row">

		<div class="col-xs-12
					col-sm-6
					col-md-5 col-md-offset-1" style="margin-bottom: 30px">
			<h2 class="main-font new-title ">Add Your Tool</h2>
			<p class="main-font text-info text-left tool-new-p">
				<br>
				<br>
				Link you website or repository so that other people can find them
				<br>
				<br>
				Write a short description about how your software works and how people should use it
				<br>
				<br>
				Add the programming language or languages that it is written in. For example: c++, javascript, etc..
				<br>
				<br>
				Add the platform or platforms that it works on. For example: windows, sublime, android, etc..
				<br>
				<br>
				Add what it is meant for / use for. For example: scrollbar, neural network algorithm, social media sdk, etc..
			</p>
		</div>

		<div class="col-xs-12
					col-sm-6
					col-md-5">
			<div class="row">
				<div class="col-xs-12">
					<input class="tool-new-title" type="text" name="" value="" placeholder="Name" autofocus>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<input class="tool-new-web" type="text" name="" value="" placeholder="Website or Repository">
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<%=text_area :post, :body, rows: 5, class: 'tool-new-area', placeholder: 'Description...' %>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="new-rain">
						<ul id="l-ul" class="new-ul">
							<li class="input-lpu" style="border: none; padding: 0; ">
								<input class="new-lpu-input" type="text" name="" value="" placeholder="Languages">
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="new-rain">
						<ul id="p-ul" class="new-ul">
						<li class="input-lpu" style="border: none; padding: 0; ">
								<input class="new-lpu-input" type="text" name="" value="" placeholder="Platforms">
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="new-rain">
						<ul id="u-ul" class="new-ul">
							<li class="input-lpu" style="border: none; padding: 0; ">
								<input class="new-lpu-input" type="text" name="" value="" placeholder="Uses">
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4">
					<button class="tool-submit-b text-left" type="">Create</button>
				</div>
			</div>

		</div>
	</div>
</div>




<!-- 

	Add ajax char count to description
	Ajax Verify
	AJax auto fill
 -->