

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 tool-info-section">

			<div class="row underline-alive" style="border-width: 0px 0px 1px 0px; margin: 0">
				<div class="col-xs-9" style="padding-left: 0">
					<h1 class="title" style="z-index: 1000; margin-bottom: 0;"> Some Name</h1>
				</div>

				<% if is_following? @tool %> <!-- user is following -->
				<div class="col-xs-3" style="padding-right: 0">
					<button class="unfollow-ts">Unfollow</button>
				</div>
				<% else %>
				<div class="col-xs-3" style="padding-right: 0">
					<button class="follow-ts">Follow</button>
				</div>
				<% end %>
			</div>

			<div class="row">
				<div class="col-xs-6 text-left col-overflow-x">
					<%= link_to 'www.website.com', '#', class: 'main-font', style: 'font-size: 12pt;' %>
				</div>
				<div class="col-xs-3 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-overflow-x">
					<div class="tool-like-div text-left">
						<%= image_tag 'like_icon.png', class: 'tool-like-imag' %>
						<p class="main-font count">2421</p>
					</div>
				</div>
				<div class="col-xs-3 col-sm-2 col-md-2 col-overflow-x">
					<div class="tool-like-div text-left">
						<%= image_tag 'comment_icon.png', class: 'tool-like-imag' %>
						<p class="main-font count">2421</p>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-12">
					<p class="main-font text-info text-justify" style="margin: 5px 0 0 0; font-size: 13pt">
						This is were a description of the tool will go.
						It will describle
						the tool with some words and letters ok just so you know what to use
						when writing your descriptions. Use words and letters cause that is
						how englishs works
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
				<p class="title-2-dead" style="font-size: 10pt">submitted by <%= link_to 'username', '#', class: 'title-2-dead' %></p>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 40px">
		<div class="col-xs-12 col-sm-8 tool-info-section">
			<div class="comments-section">
				
			</div>
		</div>
	</div>
</div>

<!-- 
Add formating the description 
Add Submitted by User
-->






