
<div class="container">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="login-section">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="title-2-alive" style="font-size: 38px; margin-bottom: 30px">Devrag</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="login-label">Email</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 ">
                        <input class="form-input fill-width main-font">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="login-label" style="margin-top: 20px;">Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <input class="form-input fill-width main-font">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>