<div class="container">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="login-section" style="margin-top: 150px">
                <div class="row">
                    <div class="col-xs-12">
                        <input class="form-input fill-width main-font login-form" placeholder="Username">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <input class="form-input fill-width main-font login-form" placeholder="Password" style="margin-top: 20px">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-xs-offset-6 text-right">
                        <%= link_to 'Forgot', '#', style: 'font-size: 12px', class: 'main-font undecorated-link-w' %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button class="login-button undecorated-link-w" style="margin-top: 15px; width: 100%; font-size: 16px;">Login</button>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="break-line center" style="top: 65%; margin-top: 15px; width: 95%; "></div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>