
<div class="container">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="login-section">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="title-2-alive" style="font-size: 48px; margin-bottom: 30px">Devrag</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="login-label">Username</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 ">
                        <input class="form-input fill-width main-font">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <label class="login-label" style="margin-top: 20px;">Password</label>
                    </div>
                    <div class="col-xs-6 text-right" style="margin-top: 20px">
                        <%= link_to 'Forgot', '#', style: '', class: 'main-font ' %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <input class="form-input fill-width main-font">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button class="follow-button" style="margin-top: 15px; font-size: 20px; width: 100%; border-radius: 4px">Login</button>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <!--<div class="break-line center" style="top: 65%; margin-top: 15px; width: 95%; "></div>-->

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>