
<div class="container">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="login-section">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1 class="title" style="font-size: 40pt; margin-bottom: 70px;">Devrag</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 ">
                        <input class="form-input fill-width main-font" placeholder="Username">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <input class="form-input fill-width main-font" placeholder="Password" style="margin-top: 20px">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-xs-offset-6 text-right">
                        <%= link_to 'Forgot', '#', style: '', class: 'main-font ' %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button class="follow-button" style="margin-top: 15px; font-size: 20px; width: 100%; border-radius: 4px">Login</button>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <!--<div class="break-line center" style="top: 65%; margin-top: 15px; width: 95%; "></div>-->

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>