/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/
/* line 8, /Users/david/Projects/SPS/Devrag/DevragWeb/vendor/assets/stylesheets/solarized-light.scss */
body {
  font-size: 14px;
}

/* line 12, /Users/david/Projects/SPS/Devrag/DevragWeb/vendor/assets/stylesheets/solarized-light.scss */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fdf6e3;
  color: #657b83;
  border-radius: 5px;
  border: 1px solid #CCC;
}

/* line 23, /Users/david/Projects/SPS/Devrag/DevragWeb/vendor/assets/stylesheets/solarized-light.scss */
.hljs-comment,
.hljs-quote {
  color: #93a1a1;
}

/* Solarized Green */
/* line 29, /Users/david/Projects/SPS/Devrag/DevragWeb/vendor/assets/stylesheets/solarized-light.scss */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #859900;
}

/* Solarized Cyan */
/* line 36, /Users/david/Projects/SPS/Devrag/DevragWeb/vendor/assets/stylesheets/solarized-light.scss */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198;
}

/* Solarized Blue */
/* line 46, /Users/david/Projects/SPS/Devrag/DevragWeb/vendor/assets/stylesheets/solarized-light.scss */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2;
}

/* Solarized Yellow */
/* line 55, /Users/david/Projects/SPS/Devrag/DevragWeb/vendor/assets/stylesheets/solarized-light.scss */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #b58900;
}

/* Solarized Orange */
/* line 65, /Users/david/Projects/SPS/Devrag/DevragWeb/vendor/assets/stylesheets/solarized-light.scss */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16;
}

/* Solarized Red */
/* line 77, /Users/david/Projects/SPS/Devrag/DevragWeb/vendor/assets/stylesheets/solarized-light.scss */
.hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}

/* line 82, /Users/david/Projects/SPS/Devrag/DevragWeb/vendor/assets/stylesheets/solarized-light.scss */
.hljs-formula {
  background: #eee8d5;
}

/* line 86, /Users/david/Projects/SPS/Devrag/DevragWeb/vendor/assets/stylesheets/solarized-light.scss */
.hljs-emphasis {
  font-style: italic;
}

/* line 90, /Users/david/Projects/SPS/Devrag/DevragWeb/vendor/assets/stylesheets/solarized-light.scss */
.hljs-strong {
  font-weight: bold;
}
