files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_delayed_job.sh":
    mode: "000755"
    owner: root
    group: root
    encoding: plain
    content: |
      #!/usr/bin/env bash

      cd /var/app/current

      # Switch to the webapp user.  Worker shouldn't be run as root.
      su -s /bin/bash -c "bin/delayed_job restart"
