<body>
  <style media="screen">

  @import url('//fonts.googleapis.com/css?family=Belgrano');

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 500px;
    min-width: 320px;
  }

  .row {
    /*margin-left: -15px;
    margin-right: -15px;*/
  }

  .container:before,
  .container:after,
  .row:before,
  .row:after {
    content: " ";
    display: table;
  }

  .container:after,
  .row:after {
    clear: both;
  }

  .col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1{
    position: relative;
    min-height: 1px;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    float: left;
  }

  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }

  .col-xs-offset-12 {
    margin-left: 100%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xs-offset-0 {
    margin-left: 0%;
  }

  .text-center {
    text-align: center;
  }

  .text-right{
    text-align: right;
  }

  .text-left{
    text-align: left;
  }

  .title {
    color: #073642;
  }

  .main-font {
    font-family: 'Belgrano', serif;
    font-weight: 100;
  }

  .noti-profile-img {
    width: auto;
    height: 60px;
    border-radius: 5%;
  }

  .username {
      color: #073642;
      margin: 0;
  }

  .info-p {
      margin-top: 20px;
      font-size: 15px;
  }

  .span-yes {
      color: #073642;
  }

  .noti-sm-icon {
      width: 15px;
      height: auto;
      margin-right: 10px;
      margin-bottom: -3px;
  }

  .text-info {
    color: #31708f;
  }

  .user-comment {
      border: 1px solid #00bfff;
      margin: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 10px;
  }

  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #fdf6e3;
    color: #657b83;
    border-radius: 5px;
    border: 1px solid #CCC;

  }

  .hljs code{
    display: block;
    margin-top: -15px;
  }


  .hljs-comment,
  .hljs-quote {
    color: #93a1a1;
  }

  /* Solarized Green */
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-addition {
    color: #859900;
  }

  /* Solarized Cyan */
  .hljs-number,
  .hljs-string,
  .hljs-meta .hljs-meta-string,
  .hljs-literal,
  .hljs-doctag,
  .hljs-regexp {
    color: #2aa198;
  }

  /* Solarized Blue */
  .hljs-title,
  .hljs-section,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #268bd2;
  }

  /* Solarized Yellow */
  .hljs-attribute,
  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-class .hljs-title,
  .hljs-type {
    color: #b58900;
  }

  /* Solarized Orange */
  .hljs-symbol,
  .hljs-bullet,
  .hljs-subst,
  .hljs-meta,
  .hljs-meta .hljs-keyword,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-link {
    color: #cb4b16;
  }

  /* Solarized Red */
  .hljs-built_in,
  .hljs-deletion {
    color: #dc322f;
  }

  .hljs-formula {
    background: #eee8d5;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .title-2-dead {
       color: rgba(182, 182, 182, 0.83);
   }

   .comment-options {
       font-size: 13px;
       text-decoration: none;
   }

   .comment-options:hover {
       text-decoration: none;
   }

   .intro-p {
       margin-bottom: 20px;
       font-size: 18px;
   }
   .noti-date {
        color: #586e75;
        margin: 0;
        font-size: 13px;
    }

    .footer {
        border-top: 1px solid #c7dada;
        margin-top: 10px;
    }
  </style>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1 class="title main-font" style="font-size: 40pt;">Devrag</h1>
      </div>
    </div>

    <% if @notification.from_action_type == 'Comment' %>
         <% if @notification.from_action.comment_id.nil? %>
             <%= render partial: 'comment_email', locals: {notification: @notification} %>
         <% else %>
             <%= render partial: 'reply_email', locals: {notification: @notification} %>
         <% end %>
     <% elsif @notification.from_action_type == 'Tell' %>
         <%= render partial: 'tell_email', locals: {notification: @notification} %>
     <% end %>

    <div class="row">
         <div class="col-xs-12 footer">


         </div>
     </div>

  </div>


</body>
