<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <style>

        @import url(http://fonts.googleapis.com/css?family=Belgrano);

        .main-font {
            font-family: 'Belgrano', serif;
        }

        .title {
            color: #073642;
            font-weight: 200;
        }

        .noti-profile-img {
            width: auto;
            height: 60px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 5%;
            float: right;
        }

        .username {
            color: #073642;
            margin: 0;
        }

        .info-p {
            margin-top: 20px;
            font-size: 15px;
        }

        .span-yes {
            color: #073642;
        }

        .noti-sm-icon {
            width: 15px;
            height: auto;
            margin-right: 10px;
            margin-bottom: 2px;
        }

        .background {

        }

        .footer {
            border-top: 1px solid #c7dada;
            margin-top: 10px;
        }

        .header {
            border-bottom: 0px solid #c7dada;
            margin: 60px 0;
        }

        .noti-date {
            color: #586e75;
            margin: 0;
            font-size: 13px;
        }

        .user-comment {
            border: 1px solid deepskyblue;
            margin: 10px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 10px;
        }

        .user-comment-parent {
            margin: 10px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 10px;
        }

        .hljs {
            display: block;
            overflow-x: auto;
            padding: 0.5em;
            background: #fdf6e3;
            color: #657b83;
            border-radius: 10px;
            border: 1px solid #CCC;

        }

        .hljs-comment,
        .hljs-quote {
            color: #93a1a1;
        }

        /* Solarized Green */
        .hljs-keyword,
        .hljs-selector-tag,
        .hljs-addition {
            color: #859900;
        }

        /* Solarized Cyan */
        .hljs-number,
        .hljs-string,
        .hljs-meta .hljs-meta-string,
        .hljs-literal,
        .hljs-doctag,
        .hljs-regexp {
            color: #2aa198;
        }

        /* Solarized Blue */
        .hljs-title,
        .hljs-section,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class {
            color: #268bd2;
        }

        /* Solarized Yellow */
        .hljs-attribute,
        .hljs-attr,
        .hljs-variable,
        .hljs-template-variable,
        .hljs-class .hljs-title,
        .hljs-type {
            color: #b58900;
        }

        /* Solarized Orange */
        .hljs-symbol,
        .hljs-bullet,
        .hljs-subst,
        .hljs-meta,
        .hljs-meta .hljs-keyword,
        .hljs-selector-attr,
        .hljs-selector-pseudo,
        .hljs-link {
            color: #cb4b16;
        }

        /* Solarized Red */
        .hljs-built_in,
        .hljs-deletion {
            color: #dc322f;
        }

        .hljs-formula {
            background: #eee8d5;
        }

        .hljs-emphasis {
            font-style: italic;
        }

        .hljs-strong {
            font-weight: bold;
        }

        .title-2-dead {
            color: rgba(182, 182, 182, 0.83);
        }

        .comment-options {
            font-size: 13px;
        }

        .comment-options:hover {
            text-decoration: none;
        }

        .intro-p {
            margin-bottom: 20px;
            font-size: 18px;
        }

        .replies-area{
            margin: 10px 0;
            padding: 0 15px;
            cursor: pointer;
            overflow: hidden;
        }

        .replies-div{
            border: 1px solid rgba(182, 182, 182, 0.83);
            border-width: 1px 0 0;
            padding: 5px;
            width: 100%;
            display: block;
            opacity: .4;
        }

        .replies-div:hover{
            text-decoration: none;
            opacity: 1;
        }

        .replies-div:focus{
            outline: none;
            text-decoration: none;
        }

        .rdivs{
            -webkit-transition: all .35s;
            -moz-transition: all .35s;
            -o-transition: all .35s;
            transition: all .35s;
            padding: 10px 0;
        }

        .reply-comment{


        }

        .reply-comment pre code{
            font-size: 14px;
        }


    </style>

</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-xs-offset-0
        col-sm-10 col-sm-offset-1
        col-md-8 col-md-offset-2">
            <div class="background">

                <div class="row header">
                    <div class="col-xs-12
                    text-center">
                        <h1 class="title main-font" style="font-size: 40pt;">Devrag</h1>

                    </div>
                </div>


                <% if @notification.from_action_type == 'Comment' %>
                    <% if @notification.from_action.comment_id.nil? %>
                        <%= render partial: 'comment_email', locals: {notification: @notification} %>
                    <% else %>
                        <%= render partial: 'reply_email', locals: {notification: @notification} %>
                    <% end %>
                <% elsif @notification.from_action_type == 'Tell' %>
                    <%= render partial: 'tell_email', locals: {notification: @notification} %>
                <% end %>

                <div class="row">
                    <div class="col-xs-12 footer">


                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


</body>
</html>
