<!--
    User picture that liked
    Small intro
    Like icon
    Date and time
-->

<div class="noti-container">

    <%= link_to user_path(12), class: 'undecorated-link-w noti-profile-link' do %>
        <%= image_tag 'profile_img_2.jpg', class: 'noti-profile-img' %>
    <% end %>
</div>