<!--
    Tool name
    Small intro
    First couple of word from the notificiation
    Date and time
-->

<div class="noti-container">
    <%= link_to user_path(12), class: 'undecorated-link-w noti-link' do %>

        <div class="noti-p" style="height: 14px">
            <span class="span-no" style=" max-width: 80px; font-size: 12px;">Tool Namejaafdsfadfadsf</span>
            <span class="span-no" style="color: #93a1a1; max-width: 165px; font-size: 12px; font-weight: 200">has notified their followers</span>
        </div>

        <p class="noti-p-l">
            This is were the small part of the notification that
            the tool has made will go it should not show all of the
            notifiction even if it is very long notification. Am adding
            in some more words to make sure that this is long enough
        </p>

        <%= image_tag 'code_icon.png', class: 'noti-sm-icon', style: 'width: 20px'%>
        <div class="noti-date">
            November 15, 2015
        </div>
    <% end %>

    <%= image_tag 'remove_button.png', class: 'noti-cross' %>
</div>