

<!--

MISSING GITHUB
    Link account if have not link it before
    or
    View repositories have options to add them as a tool

-->

<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <div class="row underline-dead" style="border-width: 0 0 2px 0; padding-bottom: 5px">
                <div class="col-xs-8" style="padding-left: 0">
                    <h3 class="set-title col-overflow-x">Profile Settings</h3>
                </div>
                <div class="col-xs-3 col-xs-offset-1" style="padding-right: 0;">
                    <button class="tool-submit-b text-right" type="" style="margin: 0; font-size: 22px;">Save</button>
                </div>
            </div>

            <div class="row" style="margin: 10px -15px">
                <div class="col-xs-3  text-right">
                    <h5 class="set-info">Username:</h5>
                </div>

                <div class="col-xs-5" style="padding-left: 0">
                    <input class="form-input-set fill-width main-font" value="playssss">
                </div>
            </div>

            <div class="row" style="margin: 10px -15px">
                <div class="col-xs-3  text-right">
                    <h5 class="set-info">Email:</h5>
                </div>

                <div class="col-xs-5" style="padding-left: 0">
                    <input class="form-input-set fill-width main-font" value="footdavid@hotmail.com" readonly>
                </div>
            </div>

            <div class="row" style="margin: 10px -15px">
                <div class="col-xs-3  text-right">
                    <h5 class="set-info" style="margin: 44px 0px;">Profile Picture:</h5>
                </div>

                <div class="col-xs-5" style="padding-left: 0">
                    <div class="user-profile-img" style="margin-bottom: 4.5px; float: none">

                        <% if is_current_user?(@user)%>
                            <div class="edit-img-div text-center">
                                <%= link_to '#', class: 'edit-img-link undecorated-link-w' do %>
                                    <p class="center-ver center-hor" style="margin: 0 ">Edit</p>
                                <% end %>
                            </div>
                        <% end %>

                    </div>

                </div>
            </div>


            <div class="row" style="margin: 10px -15px">
                <div class="col-xs-3  text-right">
                    <h5 class="set-info">Old Password:</h5>
                </div>

                <div class="col-xs-5" style="padding-left: 0">
                    <input class="form-input-set fill-width main-font" value="">
                </div>
            </div>

            <div class="row" style="margin: 10px -15px">
                <div class="col-xs-3  text-right">
                    <h5 class="set-info">New Password:</h5>
                </div>

                <div class="col-xs-5" style="padding-left: 0">
                    <input class="form-input-set fill-width main-font" value="">
                </div>
            </div>

            <div class="row" style="margin: 10px -15px">
                <div class="col-xs-3  text-right">
                    <h5 class="set-info">Confirm Password:</h5>
                </div>

                <div class="col-xs-5" style="padding-left: 0">
                    <input class="form-input-set fill-width main-font" value="">
                </div>
            </div>


            <div class="row underline-dead" style="border-width: 0 0 2px 0; margin: 20px -15px">
                <div class="col-xs-8">
                    <h3 class="set-title col-overflow-x" style="font-size: 16px;">Notification Preferences</h3>
                </div>

                <div class="col-xs-3 col-xs-offset-1" style="padding-right: 0;">
                    <button class="tool-submit-b text-right" type="" style="margin: 0; font-size: 22px;">Update</button>
                </div>
            </div>

            <div class="row" style="margin: 10px -15px">
                <div class="col-xs-8">
                    <label for="email-updates" class="set-noti-pref">Get notifications via email</label>
                    <input id="email-updates" style="float: left; margin-right: 10px; margin-top: 4px;" name="email-updates" value="value" type="checkbox">
                </div>
            </div>


            <div class="row" style="margin: 10px -15px">
                <div class="col-xs-8">
                    <label for="comment-updates" class="set-noti-pref">Get notifications from comments</label>
                    <input id="comment-updates" style="float: left; margin-right: 10px; margin-top: 4px;" name="email-updates" value="value" type="checkbox">
                </div>
            </div>

            <div class="row" style="margin: 10px -15px">
                <div class="col-xs-8">
                    <label for="likes-updates" class="set-noti-pref">Get notifications from likes</label>
                    <input id="likes-updates" style="float: left; margin-right: 10px; margin-top: 4px;" name="email-updates" value="value" type="checkbox">
                </div>
            </div>

            <div class="row" style="margin: 10px -15px">
                <div class="col-xs-8">
                    <label for="tool-updates" class="set-noti-pref">Get notifications from tools</label>
                    <input id="tool-updates" style="float: left; margin-right: 10px; margin-top: 4px;" name="email-updates" value="value" type="checkbox">
                </div>
            </div>

            <div class="row" style="margin: 10px -15px">
                <div class="col-xs-8">
                    <label for="following-updates" class="set-noti-pref">Get notifications from following</label>
                    <input id="following-updates" style="float: left; margin-right: 10px; margin-top: 4px;" name="email-updates" value="value" type="checkbox">
                </div>
            </div>

            <div class="row underline-dead" style="border-width: 0 0 2px 0; margin: 20px -15px">
                <div class="col-xs-8">
                    <h3 class="set-title col-overflow-x" style="font-size: 16px;">Github</h3>
                </div>
            </div>
        </div>
    </div>


</div>