<div class="container">

    <div class="row">
        <div class="col-md-4 col-md-offset-4 area">
            <div class="row" style="margin: 20px 5px 20px 5px">
                <div class="col-md-12">
                    <input class="form-control-large main-font" placeholder="Username">
                </div>
            </div>
            <div class="row" style="margin: 20px 5px 20px 5px">
                <div class="col-md-12">
                    <input class="form-control-large main-font" placeholder="Email">
                </div>
            </div>
            <div class="row" style="margin: 20px 5px 20px 5px">
                <div class="col-md-12">
                    <input class="form-control-large main-font" placeholder="Password">
                </div>
            </div>

            <div class="row" style="margin: 20px 5px 20px 5px">
                <div class="col-md-12">
                    <input class="form-control-large main-font" placeholder="Password Confirmation">
                </div>
            </div>

            <div class="row" style="margin: 20px 5px 20px 5px">
                <div class="col-md-12">
                    <button id="signup-button" class="title-2-alive text-center">
                        Sign up
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>