<!--
    User notifications
    Added profile picture circle
-->

<div class="container">
    <div class="row" style=" margin-bottom: 20px">

        <div class="col-xs-10 col-sm-10 col-md-6 underline-dead" style="padding: 0 40px 0 0; border-width: 0 0 2px 0;">
            <h1 class="title col-overflow-x" style="z-index: 1000; margin: 65px 0 0 0; overflow: hidden"> username</h1>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 text-right underline-dead" style="border-width: 0 0 2px 0; ">
            <div class="user-profile-img" style="margin-bottom: 4.5px;">
                <div class="edit-img-div text-center">
                    <%= link_to '#', class: 'edit-img-link undecorated-link-w' do %>
                        <p class="center-ver center-hor" style="margin: 0 ">Edit</p>
                    <% end %>
                </div>

            </div>
            <% image_tag 'profile_img.jpg', class: 'user-profile-img' %>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="row">
                <div class="col-xs-12" style="z-index: 500; background-color: white">
                    <h2 class="title text-center" style=" margin-bottom: 5px">Your Tools</h2>
                    <%= link_to(image_tag('add_button2.png', id: 'add-tool-b', class: 'center-ver'), new_user_tool_path(user_id: 12)) %>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <% if @user_tools.length > 5 %>
                        <div id="user-tool-search" class="tool-search">
                            <input class="form-input main-font search-input" placeholder="Search...">
                        </div>

                        <div class="upper-user-area">
                            <div style="border-top: 1px solid #93a1a1;"></div>
                        </div>

                    <% end %>

                    <div id="user-area-tool" class="user-area">
                        <% if @user_tools.length > 5 %>
                            <div style="height: 30px"></div>
                        <% end %>
                        <%= display_user_tools(@user_tools).html_safe %>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="row">
                <div class="col-xs-12" style="z-index: 500; background-color: white">
                    <h2 class="title text-center" style=" margin-bottom: 5px">Following</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <% if @user_follows.length > 5 %>
                        <div id="user-fol-search" class="tool-search">
                            <input class="form-input main-font search-input" placeholder="Search...">
                        </div>

                        <div class="upper-user-area">
                            <div style="border-top: 1px solid #93a1a1;"></div>
                        </div>
                    <% end %>

                    <div id="user-area-following" class="user-area">
                        <% if @user_follows.length > 5 %>
                            <div style="height: 30px"></div>
                        <% end %>
                        <%= display_user_follows(@user_follows).html_safe %>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
