<!--
    User's Tool search
    User notifications
-->

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title underline-dead"
                style="border-width: 0px 0px 2px 0px; z-index: 1000 ">
                username</h1>
        </div>
    </div>

    <div class="row" style="padding: 20px 0 0 0;">
        <div class="col-xs-3" style="padding: 0 0px 0 40px;
                min-width: 380px;
                max-width: 380px; z-index: 500; background-color: white;">
            <h2 class="title" style="font-family: 'Lobster',cursive;">Tools</h2>
            <%= image_tag 'add_button2.png', id: 'add-tool-b', class: 'center-ver' %>

            <div style="border: 0px solid #107994;
                    min-width: 320px;
                    max-width: 320px">

            </div>
        </div>

    </div>



    <div id="tool-search">
        <input class="form-input fill-width main-font search-input" placeholder="Search...">
    </div>


    <div class="row">
        <div class="col-xs-6" style="padding: 0 20px 0 40px;">
            <div class="tool-hider-left">

            </div>

            <div class="user-area">
                <div style="height: 50px">

                </div>
                <%= display_user_tools(@user_tools).html_safe %>
                <div class="tool-hider-right">

                </div>

            </div>

        </div>
    </div>
</div>
