<!--
    Username
    Tool list
        Tool edit
        Tool create
        Tool send notification
    User's Tool search
    User notifications
-->

<div id="devrag-header-title-div">
    <%= link_to 'Devrag', root_path, class: 'title-2-alive undecorated-link', id: 'devrag-header-title' %>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title underline-dead" style="border-width: 0px 0px 2px 0px ">username</h1>
        </div>
    </div>

    <div class="row" style="padding: 20px 0 0 0">
        <div class="col-xs-6" style="padding: 0 20px 0 40px">
            <h2 class="title" style="font-family: 'Lobster',cursive">Tools</h2>

            <div class="user-area" style="width: 400px; height: 400px">

                <!-- Add a search engine -->

                <%= display_user_tools.html_safe %>
            </div>
        </div>
    </div>
</div>