<div class="col-xs-6 col-xs-offset-1 col-sm-3 col-sm-offset-0 text-center lpu-options-col">
<h5 class="lpu-label underline-alive" style="color: white;"><%= lpu_title%></h5>
	<div class="lpu-ul">
		<% lpu_array.each do |lpu| %>
		<div class="lpu-li">
			<%= lpu %>
		</div>
		<% end %>
	</div>
</div>