<div class="col-xs-3 text-center" style="padding: 0 10px 0 10px; height: 100%">
<h5 class="lpu-label underline-alive"><%= lpu_title%></h5>
	<div class="lpu-ul">
		<% lpu_array.each do |lpu| %>
		<div class="lpu-li">
			<%= lpu %>
		</div>
		<% end %>
	</div>
</div>