<div class="row tool-result-div">
    <div class="col-xs-12" style="padding: 0">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="tool-name">Name</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <%= link_to 'www.website.com', '#', class: 'main-font' %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="main-font text-info">This is were a description of the tool will go. It will describle
                the tool with some words and letters ok just so you know what to use
                when writing your descriptions. Use words and letters cause that is
                how englishs works</p>
            </div>
        </div>
    </div>
</div>