<div class="container">


    <div class="row">
        <div class="col-md-4 col-sm-offset-4">
            <h1 class="header" style="font-size: 30pt">Main Header</h1>
        </div>
    </div>

    <div class="row text-center ">
        <div class="col-sm-2 col-sm-offset-4">
            <button type="button" class="fill dbutton" style="font-size: 14pt">Platform</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 area" style="height: 100px; margin: 20px">
            <%= link_to 'Link to Something', '#', class: 'main-font'%>
            <br>
            <br>
            <p class="main-font">
                This is just an example of a div with the class .area in it
            </p>
        </div>
    </div>

</div>