<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5 text-center">
            <h1 class="title" style="font-size: 35pt;">Devrag</h1>
        </div>
    </div>

    <div class="row" style="margin-top: 80px">
        <div class="col-lg-2
                col-md-2 col-md-offset-2
                col-sm-2 col-sm-offset-2 text-center">

            <h4 class="title-2-alive underline-alive">Language</h4>
        </div>

        <div class="col-lg-2
                col-md-2 col-md-offset-1
                col-sm-2 col-sm-offset-1 text-center">

            <h4 class="title-2-alive underline-alive">Platform</h4>
        </div>

        <div class="col-lg-2
                col-md-2 col-md-offset-1
                col-sm-2 col-sm-offset-1 text-center">

            <h4 class="title-2-alive underline-alive">Use</h4>
        </div>
    </div>

    <!--<div class="row">-->
        <!--<div class="col-lg-8 col-lg-offset-2-->
                    <!--col-md-8 col-md-offset-2-->
                    <!--col-sm-8 col-sm-offset-2-->
                    <!--underline-dead">-->
        <!--</div>-->
    <!--</div>-->

</div>