<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12
                    col-sm-12
                    col-md-7 col-md-offset-1
                    search-div">


            <div class="row">
                <div class="col-xs-12">
                    <h2 class="title underline-alive">Devrag</h2>
                </div>
            </div>

            <div class="row" style="margin-top: 5px; padding-bottom: 5px">
                <div class="col-xs-12 col-sm-4">
                    <input class="form-input main-font" placeholder="Language">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <input class="form-input main-font" placeholder="Platform">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <input class="form-input main-font" placeholder="Use">
                </div>
            </div>

            <div class="row" style="margin-top: 20px; margin-bottom: -25px">
                <div class="col-xs-7 col-sm-9 will-pag">
                    <%= will_paginate @results, :previous_label => '←', :next_label => '→', :outer_window => 1, :inner_window => 2 %>
                </div>
                <div class="col-xs-5 col-sm-3 ">
                    <button id="dropdown-sortB" class="m-dropdown-button main-font text-left">
                        Sort
                    </button>
                    <ul id="dropdown-sortL" class="m-dropdown text-left main-font" style="display:none">
                        <li class="m-li">Name</li>
                        <li class="m-li">Likes</li>
                        <li class="m-li">Random</li>
                        <li class="m-li">Followers</li>
                    </ul>
                </div>
            </div>

            <div id="search-results">
                <%= display_results(@results).html_safe %>
            </div>


            <div class="row" style="margin: 40px -15px">
                <div class="col-xs-12 will-pag">
                    <%= will_paginate @results, :previous_label => '←', :next_label => '→', :outer_window => 1, :inner_window => 2 %>
                </div>
            </div>

        </div>
    </div>
</div>