<div class="container-fluid">
    <div class="row">
        <div class="col-xs-7 col-xs-offset-1" style="min-width: 500px">


            <div class="row">
                <div class="col-xs-12">
                    <h2 class="title underline-alive">Devrag</h2>
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-xs-4">
                    <input class="form-input main-font" placeholder="Language">
                </div>
                <div class="col-xs-4">
                    <input class="form-input main-font" placeholder="Platform">
                </div>
                <div class="col-xs-4">
                    <input class="form-input main-font" placeholder="Use">
                </div>
            </div>

            <%= display_results.html_safe %>
        </div>
    </div>
</div>