<div class="col-xs-12 col-sm-6 col-md-4" style="margin: 5px 0">
    <div class="follower-cell">
        <div class="row">
            <%= link_to user_path(12), class: 'undecorated-link' do %>
                <div class="col-xs-2 ">
                    <div class="user-profile-img" style="margin-bottom: 5px; margin-left: 5px; float: none; height: 70px; width: 70px">

                    </div>
                </div>

                <div class="col-xs-10 text-center">
                    <h4 class="title col-overflow-x" style="z-index: 1000; margin: 35px 0 0 0; overflow: hidden">
                        username</h4>
                </div>
            <% end %>
        </div>
    </div>
</div>