<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8">

            <div class="row underline-alive" style="border-width: 0px 0px 1px 0px; margin: 0">
                <div class="col-xs-12" style="padding-left: 0">
                    <%= link_to tool_path(12), class: 'undecorated-link' do %>
                        <h1 class="title" style="z-index: 1000; margin-bottom: 0;"> Some Name</h1>
                    <% end %>
                </div>
            </div>


            <div class="row" style="margin: 40px 0px 0">
                <div class="col-xs-12">
                    <h4 class="followers-title">FOLLOWERS</h4>
                </div>
            </div>

            <div class="row">
                <% @followers.each do |follower| %>

                    <div class="col-xs-12 col-sm-6 col-md-4" style="margin: 5px 0">
                        <div class="follower-cell">
                            <div class="row">
                                <%= link_to user_path(12), class: 'undecorated-link' do %>
                                <div class="col-xs-2 ">
                                    <div class="user-profile-img" style="margin-bottom: 5px; margin-left: 5px; float: none; height: 70px; width: 70px">

                                    </div>
                                </div>

                                <div class="col-xs-10 text-center">
                                    <h4 class="title col-overflow-x" style="z-index: 1000; margin: 35px 0 0 0; overflow: hidden">
                                        username</h4>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>

            <div class="row" style="margin: 10px 0px">
                <div class="col-xs-12 will-pag">
                    <%= will_paginate @followers, :previous_label => '←', :next_label => '→', :outer_window => 1, :inner_window => 2 %>
                </div>
            </div>
        </div>
    </div>
</div>