var spinner = $('#user-follow-spinner');

<% if @user_follows.size > 0%>
spinner.before('<%= escape_javascript(display_user_follows(@user_follows).html_safe) %>');
<% else %>
spinner.before('<h4 class="main-font text-center" style="color: #cccccc; padding-top: 100px">' +
               'You are currently not following any tools</h4>')
<% end %>

<% if params[:page].to_i >= @user_follows.total_pages %>
spinner.removeClass('spinner');
spinner.css('height','0');

<% else %>
if (!spinner.hasClass('spinner')) {
    spinner.addClass('spinner');
    spinner.css('height', '50px');
}
<% end %>

followingScroll.setMaxPage(<%= @user_follows.total_pages%>);
followingScroll.setPage(<%= params[:page]%>);
