/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bourbon";
@import "neat";
@import "neat_grid";
// Remember to add lobster font
@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two);

.dbutton {
  box-shadow: none;
  border: 1px solid deepskyblue;
  background-color: rgba(234, 232, 229, 0.42);
  border-radius: 0.3em;
  font-family: 'Lobster Two', cursive;
}

.dbutton:active {
  box-shadow: inset 0px 0px 2px 1px rgba(158, 144, 144, 0.6);
  -webkit-box-shadow: inset 0px 0px 2px 1px rgba(158, 144, 144, 0.6);
  -moz-box-shadow: inset 0px 0px 2px 1px rgba(158, 144, 144, 0.6);
  -o-box-shadow: inset 0px 0px 2px 1px rgba(158, 144, 144, 0.6);
}