
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #b72927;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages";
@import "users";
@import "tools";
@import "followers";
@import "jquery.mCustomScrollbar";
@import "notifications";
@import "comments";
@import "solarized-light";
@import "replies";
@import url(http://fonts.googleapis.com/css?family=Belgrano);
@import url(http://fonts.googleapis.com/css?family=Lobster);

@font-face {
  src: url('Menlo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.dbutton {
  @extend .main-font;
  box-shadow: none;
  border: 2px solid deepskyblue;
  background-color: white;
  border-radius: 0.3em;
  color: darkslategrey;
}

pre{
  background-color: transparent;
  border: none;
}

.dbutton:active {
  outline: none;
  box-shadow: inset 0px 0px 2px 1px rgba(158, 144, 144, 1);
  -webkit-box-shadow: inset 0px 0px 2px 1px rgba(158, 144, 144, 1);
  -moz-box-shadow: inset 0px 0px 2px 1px rgba(158, 144, 144, 1);
  -o-box-shadow: inset 0px 0px 2px 1px rgba(158, 144, 144, 1);
}

.dbutton:focus{
  outline: none;
}

.title {
  @extend .main-font;
  //font-family: "Lobster", cursive;
  color: $base02;
}

.title-2-alive {
  @extend .main-font;
  color: $base02;
  font-size: 17pt;
}

.title-2-dead {
  @extend .main-font;
  color: rgba(182, 182, 182, 0.83);
}

.underline-alive {
  border: 0px solid deepskyblue;
  border-bottom-width: 1px;
}

.underline-dead {
  border: 0px solid rgba(182, 182, 182, 0.55);
  border-top-width: 2px;
  //background-color: white;
}

.area {

  //box-shadow: 0px 0px 5px 0px deepskyblue;
  //-webkit-box-shadow: 0px 0px 5px 0px deepskyblue;
  //-moz-box-shadow: 0px 0px 5px 0px deepskyblue;
  //-o-box-shadow: 0px 0px 5px 0px deepskyblue;
  padding: 0;
  background-color: white;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  // border: 1px solid deepskyblue;
}

.fill-width {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
}

.main-font {
  font-family: 'Belgrano', serif;
}

.form-input {
  @extend .form-control;

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

body {
  padding-top: 50px;
  padding-bottom: 100px;
}

html {
  min-width: 320px;
}

.mediadiv {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.center {
  position: absolute;
  //top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.center-hor {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.center-ver {
  position: absolute;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}



.break-line {
  position: absolute;
  width: 80%;
  border-top: 1px solid $base00;
  color: white;
}

.undecorated-link:hover {
  text-decoration: none;
}

.undecorated-link-w{

}

.undecorated-link-w:hover {
  text-decoration: none;
  color: white;
  outline: none;
}

.undecorated-link-w:focus{
  color: white;
  outline: none;
}

.col-overflow-x{
  overflow-x: hidden;
  word-wrap: break-word;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.col-overflow-y{
  overflow-y: hidden;
  word-wrap: break-word;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.pagination{
  @extend .main-font;
  height: 34px;
  padding-top: 5px;
}

.pagination a{
  @extend .text-center;
  border: 1px solid $base1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline;
  color: $base02;
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 12px;

  @media (max-width: 768px) {
    display: none;
  }

}

.pagination em{
   @extend .text-center;
   border: 1px solid $base1;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   display: inline;
   width: 30px;
   height: 30px;
   background-color: $base1;
   color: $base02;
  padding: 5px;
  font-size: 12px;
 }

.pagination span{
  @extend .text-center;
  border: 1px solid $base1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline;
  color: $base02;
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 12px;

  @media (max-width: 768px) {
    display: none;
  }
}

.pagination .disabled{
  color: $base1;
}

.pagination .previous_page {
  @media (max-width: 768px) {
    display: inline;
  }
}

.pagination .next_page {
  @media (max-width: 768px) {
    display: inline;
  }
}


