

#header-div{
  position: fixed;
  top: 10px;
  left: 20px;
  width: 30px;
  height: 30px;
  z-index: 1000;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

}

#header-div:hover{
  background-color: #CEE1E1
}

#header-div:active{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#header-image{
  top: 50%;
  height: 60%;
  width: auto;
}

#menu-div{
  z-index: 1000;
  position: fixed;
  width: 260px;
  height: 250px;
  top: 40px;
  left: 20px;
  background-color: $base03;
  opacity: 0;

  //-webkit-transform: scale(.5);
  //-webkit-transform-origin: top left;
  //
  //-moz-transform: scale(.5);
  //
  //-ms-transform: scale(.5);
  //-ms-transform-origin: top left;
  //
  //-o-transform:scale(.5) ;
  //
  //transform:scale(.5) ;
  //transform-origin: top left;

  padding-top: 6px;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 0px 5px 0px #8b8b8b;
  -moz-box-shadow: 0px 0px 5px 0px #8b8b8b;
  box-shadow: 0px 0px 5px 0px #8b8b8b;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.login-form{
  width: 75%;
  background-color: $base00;
  border-color: $base00;
  color: white;
  font-size: 10pt;
}

.login-form:focus{
  border-color: $base1;
}

.login-link{
  position: absolute;
  top: 40%;
  left: 47%;
  font-size: 9pt;
  color: #004f6a;
}

.login-link:hover{
  color: #009cd0;
}

.login-button{
  @extend .main-font;
  box-shadow: none;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 0.3em;
  color: $base1;
  position: absolute;
  padding: 3px;
  width: 75%;
}

.login-button:active{
  color: white;
}

.login-button:focus{
  border: 1px solid #b7b7b7;
  outline: 0;
  -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, 0.65);
  box-shadow:  0 0 8px rgba(102, 175, 233, 0.65);
}



