// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dead-alive-transition {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.down-arror {
  width: 100%;
  max-width: 20px;
  max-height: 10px;
  height: auto;
}

.down-arror:hover {
  cursor: pointer;
}

.hidden-box {
  position: relative;
}

#lpu-hidden-box {
  @extend .hidden-box;
  top: 20px;
  opacity: 0;

  @media (max-width: 946px) {
    top: -60px
  }

}

#name-hidden-box {
  @extend .hidden-box;
  top: -40px;
  opacity: 1;

  @media (max-width: 946px) {
    top: -60px
  }
}

#name-title {
  @extend .dead-alive-transition
}

#lang-title {
  @extend .dead-alive-transition
}

#plat-title {
  @extend .dead-alive-transition
}

#use-title {
  @extend .dead-alive-transition
}

.tool-result-div {
  margin: 40px 0 0 0;
  border: 1px solid $base1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 10px 0px 10px;
}

.comment-count {
  color: #b3c4c4;
  font-size: 9pt;
  left: 40%
}

.tool-name {
  @extend .title;
  margin: 0;
  font-size: 17pt;
}

.comment-div {
  min-width: 25px;
  min-height: 20px;
  max-width: 60px;
  padding: 0;
  left: 5%;
}

.comment-div:hover{
  cursor: pointer;
}

#comment-image {
  top: 50%;
  height: 17px;
  width: auto;
}


#options-image {
  height: auto;
  width: 30px;
}




