// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#down-arror {
  width: 100%;
  max-width: 20px;
  height:auto;
}

#down-arror:hover{
  cursor: pointer;
}


#name-title{
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
