// Place all the styles related to the reset_passwords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.submit-reset{
  font-size: 16pt;
  width: 100%;
  background-color: transparent;
  border: 1px solid deepskyblue;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
