// Place all the styles related to the tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:http://sass-lang.com/


.tool-info-section {
	//border: 2px solid $base01;
	border-radius: 10px;
}

.unfollow-ts {
	@extend .unfollow-button;
	font-size: 16pt;
	margin-top: 20px
}

.follow-ts {
	@extend .follow-button;
	font-size: 16pt;
	margin-top: 20px
}

.tool-like-div {
	float: right;
	width: 70px;
	min-width: 70px;
	max-width: 70px;

	&:hover{
		cursor: pointer;
	}
}

.tool-like-imag {
	min-width: 20px;
	max-width: 20px;
	height: auto;
	float: left;
	margin: 4px 10px 0px 0;
}

.count {
	color: #b3c4c4;
	margin: 3px 0 0 0;
}

.rain-scroll{
	white-space: nowrap;
	padding: 9px 12px 9px 12px;
	background-color: $base02;
	border-radius: 20px;
}

.ul-lpu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: auto;
	float: left;
}

.li-lpu{
	display: inline;
	color: #BED0D0;
	border-right: 1px solid $base1;
	padding: 5px;
}

.comments-section{
	border: 1px solid $base1;
	border-radius: 20px;
	width: 100%;
	height: auto;
	padding: 0px 10px 0 10px;
	overflow-y: hidden;
}

.comment-user{
	font-size: 12pt;
	margin-left: 15px;

	color: $base02;


	&:hover{
		text-decoration: none;
		color: deepskyblue;
	}

}

.user-comment{
	margin: 0 35px 0 35px;
	color: $base01
}

.comment-options{
	font-size: 9pt;
	margin: 0px 25px 0px 25px;

	&:hover{
		text-decoration: none;
	}
}

.comment-add-cl{
	width: 25px;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
	margin-right: 10px;

	&:hover{
		cursor: pointer;
	}
}

.comment-add-cl-t{
	@extend .comment-add-cl;
	width: 20px;

}

.comment-area{
	color: $base01;
	margin: 0 35px 0 35px;
	border: 1px solid $base1;
	resize: none;
	width: 89%;
	border-radius: 10px;
	padding: 10px;
}





















