// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-control-large {
  @extend .form-control;
  font-size: 10pt;
  height: 40px;
  border-color: rgba(176, 176, 176, 0.58);
}

#signup-button {
  font-size: 16pt;
  width: 100%;
  background-color: transparent;
  border: 1px solid deepskyblue;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;

  
}

#signup-button:active {
  color: $base03;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);

}

#signup-button:focus {
  outline: none;
  //color: deepskyblue;
}

.info-p {
  font-size: 10pt;
  margin: 0 35px 0 15px;
}

.user-area {
  border-top: 2px solid deepskyblue;
  //-webkit-border-radius: 10px;
  //-moz-border-radius: 10px;
  //border-radius: 10px;
  //padding-top: 10px;
  // padding-left: 15px;
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  height: 450px;
  position: relative;
  //background-color: $base02
}

.user-tool-area {
  border: 1px solid $base1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin: 10px 0 0 0;
  //right: 65%;
  background-color: white;
  width: 320px;
  min-width: 320px;
  max-width: 320px;
}

#uta {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#followers_icon {
  top: 50%;
  height: 17px;
  width: auto;
  float: left;
  margin-right: 4px;
  margin-top: 1px;
}

.tool-hider-left {
  position: absolute;
  background: white;
  width: 500px;
  height: 100%;
  top: 0;
  left: -500px + 15px;
  z-index: 2;
}

.tool-hider-right {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  z-index: 2;
}

.options-div {
  position: absolute;
  width: 280px;
  height: 91px;
  left: 100%;
  top: 0;
  background-color: $base02;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 20px;
  font-size: 12pt;
  font-weight: lighter;
}

#add-tool-b {
  width: 15px;
  height: 15px;
  left: 98%;
  top: 60%;
  border-radius: 15px;

  &:hover {
    cursor: pointer;
  }
}

#tool-search {
  z-index: 10;
  background-color: white;
  color: white;
  border: none;
  position: absolute;
  margin: 2px 0 0 25px;
  padding-top: 5px;
  //top: -34px;
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  height: 38px;
}

