// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-control-large {
  @extend .form-control;
  font-size: 10pt;
  height: 40px;
  border-color: rgba(176, 176, 176, 0.58);
}

.user-profile-img {
  //width: 100%;
  border-radius: 100%;
  margin-top: 10px;
  height: 90px;
  width: 90px;
  float: right;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.edit-img-div {
  @extend .main-font;
  background-color: rgba(0, 0, 0, .4);
  height: 100%;
  width: 100%;
  border-radius: 100%;
  color: white;
  display: block;
  margin-top: 100px;

  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.edit-img-link {
  color: white;
  height: 100%;
  display: block;
  position: relative;

  &:hover{
    cursor: pointer;
  }
}

#signup-button {
  font-size: 16pt;
  width: 100%;
  background-color: transparent;
  border: 1px solid deepskyblue;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.signup-b{
  font-size: 14pt;
  width: 100%;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 33px;
  color: white;
  background: deepskyblue url("github.png") no-repeat 15px 1px;
  background-size: 30px;
  padding-right: 15px;
}

.signup-b:hover{
  color: white;
}

#signup-button:active {
  color: $base03;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);

}

#signup-button:focus {
  outline: none;
  //color: deepskyblue;
}

.info-p {
  font-size: 10pt;
  margin: 0 35px 0 15px;
}

.user-area {
  border: 0px solid $base1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 450px;
  //box-shadow: inset 0 0 10px -4px rgba(0,0,0,.5);
  z-index: 100;
}

.user-tool-area {
  border-bottom: 1px solid #EAEAEA;
  padding: 10px 25px;
  margin: 5px 0 0 0;
  //right: 65%;
  background-color: white;
  //z-index: -100;
}

#uta {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

#followers_icon {
  height: 17px;
  width: 17px;
  margin-right: 4px;
  margin-bottom: 5px;
}

.options-div {
  position: absolute;
  width: 73%;
  height: 91px;
  left: 100%;
  top: 0;
  background-color: $base02;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 12pt;
  font-weight: lighter;
}

#add-tool-b {
  width: 17px;
  height: 17px;
  left: 93%;
  top: 60%;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.tool-search {
  position: absolute;
  width: -webkit-calc(100% - 50px);
  width: calc(100% - 50px);
  z-index: 10;
  height: 34px;
  border-radius: 0px;
  padding: 0 0 0 20px;
}

.search-input {
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  border: 1.5px solid deepskyblue;
  border-top: none;
  box-shadow: none;

}

.upper-user-area {
  width: -webkit-calc(100% - 50px);
  width: calc(100% - 50px);
  position: absolute;
  z-index: 100;
  padding: 0 0px 0 20px;
}

.uoption-b {
  font-size: 13px;
  @media (min-width: 468px) {
    font-size: 15px;
  }
}

.set-title {
  @extend .title;
  overflow: hidden;
  margin: 6px 0 0;
  font-size: 20px;
  height: 24px;
}

.set-submit-b {
  margin: 0;
  font-size: 22px;
  @extend .tool-submit-b;

}

.set-info {
  @extend .main-font;
  color: #107994;
  margin: 7px 0;
}

.form-input-set {
  @extend .form-input;
  height: 30px;
  padding: 2px 6px;
}

.set-noti-pref{
  @extend .main-font;
  color: $base00;
  font-weight: 200;

  &:hover{
    cursor: pointer;
  }

}

.error-div{
  @extend .alert;
  @extend .alert-danger;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 0;

  ul{
    list-style-type: none;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 300;
  }
}

.custom-file-input {
  color: transparent;
  background-color: transparent;
  height: 100%;
  width: 100%;
  opacity: 0;

  &:hover{
    cursor: pointer;
  }
}
