<div id="header-div">
    <%= image_tag 'devrmenu.png', id: 'header-image', class: 'center' %>

    <% if false %>
            <h5 id="username-label" class="main-font">username</h5>
    <% end %>
</div>


<div id="menu-div">
    <% if true %>
        <input class="form-control main-font center login-form "
               placeholder="Email" style="top: 17%">
        <input class="form-control main-font center login-form"
               placeholder="Password" style="top: 33%" , type="password">
        <%= link_to 'Forgot', '#', class: 'text-right main-font login-link' %>
        <button class="login-button center" style="top: 56%">Login</button>
        <div class="break-line center" style="top: 68%"></div>
        <button class="login-button  center" style="top: 85%">Sign Up</button>
    <% else %>
        <!--
            Menu Items when logged in
                Home
                Profile
                Notifcations
                Settings
                ----------
                Sign Out
        -->


    <% end %>
</div>