<div id="header-div">
    <%= image_tag 'devrmenu.png', id: 'header-image', class: 'center' %>
</div>


<div id="menu-div">
    <input class="form-control main-font center login-form"
           placeholder="Username" style="top: 20%">
    <input class="form-control main-font center login-form"
           placeholder="Password" style="top: 40%", type="password">



</div>