<div id="header-div">
    <%= image_tag 'devrmenu.png', id: 'header-image', class: 'center' %>

    <% if false %>  <!-- if user logged in -->
        <h5 id="username-label" class="main-font">username</h5>

        <!-- if user has notifications-->
        <div class="notification-bubble text-center center" style="left: 125px; top: 50%">
            <h6 class="center notification-text main-font">3</h6>
        </div>
        <!-- end if-->
    <% end %>
</div>


<div id="menu-div">
    <% if false %> <!-- if user logged in -->
        <button class="login-button center text-left" style="top: 17%">Home</button>
        <button class="login-button center text-left" style="top: 33%">Profile</button>
        <button class="login-button center text-left" style="top: 49%">
            Notifications

            <!-- if user has notifications -->
            <div class="notification-bubble text-center center" style="left: 90%; top: 50%;">
                <h6 class="center notification-text main-font">3</h6>
            </div>
            <!-- end if-->

        </button>
        <button class="login-button center text-left" style="top: 65%">Settings</button>
        <div class="break-line center" style="top: 75%"></div>
        <button class="login-button  center text-left" style="top: 85%">Sign Out</button>
    <% else %>
        <input class="form-control main-font center login-form "
               placeholder="Email" style="top: 17%">
        <input class="form-control main-font center login-form"
               placeholder="Password" style="top: 33%" , type="password">
        <%= link_to 'Forgot', '#', class: 'text-right main-font login-link' %>
        <button class="login-button center" style="top: 56%;">Login</button>
        <div class="break-line center" style="top: 68%"></div>
        <%= link_to 'Sign Up', new_user_path, class:'login-button center text-center undecorated-link', style: 'top: 85%; '  %>

    <% end %>
</div>