<div id="header-div">
    <%= image_tag 'devrmenu.png', id: 'header-image', class: 'center' %>
</div>


<div id="menu-div">
    <% if false %>
        <input class="form-control main-font center login-form "
               placeholder="Email" style="top: 17%">
        <input class="form-control main-font center login-form"
               placeholder="Password" style="top: 33%" , type="password">
        <%= link_to 'Forgot', '#', class: 'text-right main-font login-link' %>
        <button class="login-button center" style="top: 56%">Login</button>
        <div class="break-line center" style="top: 68%"></div>
        <button class="login-button  center" style="top: 85%">Sign Up</button>
    <% else %>

    

    <% end %>
</div>